# LLM API Configuration
# Replace with your actual API keys
VITE_OPENAI_API_KEY=your_openai_api_key_here
VITE_GEMINI_API_KEY=your_gemini_api_key_here
VITE_CLAUDE_API_KEY=your_claude_api_key_here

# OpenAI Assistant IDs
VITE_PROPERTY_EXTRACTOR=asst_X6MOdObfED65qXPKrQrVMk4m
VITE_PROPERTY_ADDER=asst_it7AgRSPdwGDyfxhTLG7y9be
VITE_EXAMPLE_GENERATOR=asst_XZWFIv80sgKctG3rtyPQebHa
VITE_OBJECT_MODIFIER=asst_ZBrAnMSH0ismQzH7KpSs66W9
VITE_PROMPT_BUILDER=asst_LguKUtCV4fGZfdAlJTiIgVob

VITE_RESPONDER=asst_3jeuiHpjA3AyLaqzJDUFJfno

CANDIDATE_GENERATOR=asst_seTSc3klDlV5Uoi3YkdCqzbz
GENERAL_GPT=asst_pGaLZ9z596ObFrDckS3SU73i
TASK_IDENTIFIER=asst_YlAQt9iYT7hpAxL2zmowuv0H
